<header
  class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl"
>
  <div>
    <h1 class="text-5xl font-bold pb-2">Protect Your Password</h1>

    <p class="my-4 text-2xl">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis,
      excepturi!
    </p>

    <button class="bg-indigo-500 px-5 py-2 hover:bg-indigo-400 rounded-md">
      Start Now
    </button>
  </div>

  <img src="/astro-curso/images/fingerprint.svg" alt="fingerprint" class="w-80 md:ml-12" />
</header>
